body {
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    /*overflow: hidden;*/
}

.flex_container {
    display: grid;
    grid-template-columns: 1fr 16px 200px;
    grid-template-rows: 48px calc(100vh - 56px - 96px) 48px;
    gap: 0px 0px;
    grid-template-areas:
        "output slider img_scroll"
        "img_disp slider img_scroll"
        "input slider img_scroll";
    height: calc(100vh - 56px);
}

#output {
    grid-area: output;
    text-align: center;
    padding: 2px;
    font-size: 32px;
}

#input {
    grid-area: input;
}

#img_disp {
    grid-area: img_disp;
    height: 100%;
    max-height: 100%;
    overflow: auto;
    text-align: center;
}

#img_scroll {
    grid-area: img_scroll;
}

#slider {
    grid-area: slider;
    background-color: lightgray;
}

#slider:hover {
    cursor: col-resize;
}

#upload {
    height: 100%;
    text-align: center;
}

#upload:hover {
    cursor: pointer;
    background-color: blue !important;
}

#large_elm_helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#large_elm {
    vertical-align: middle;
    width: 50%;
}

#upload_icon {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 64px;
}

a:hover {
    cursor: pointer;
}

#img_flex {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.preview {
    max-width: 100%;
    max-height: auto;
    display: inline-block;
    text-align: center;
    position: relative;
    hyphens: auto;
    overflow-y: hidden;
}

img.preview {
    pointer-events: auto;
}

img.preview:hover {
    opacity: 0.9;
    cursor: pointer;
}

img.preview.transcribed {
    opacity: 0.75;
    cursor: pointer;
}

img.preview.skipped {
    opacity: 0.9;
    cursor: pointer;
}

div.preview:hover {
    background-color: blue !important;
}

div.preview.transcribed {
    background-color: green;
}

div.preview.skipped {
    background-color: red;
}

.selected {
    animation: jiggle 1s ease-in-out infinite;
    z-index: 3;
}

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 4;
    pointer-events: none;
}

/* jiggle */

@keyframes jiggle {
    0% {
        transform: scale(.95, .95);
    }
    50% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(.95, .95);
    }
}